@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import "styles/avatar.css";
@import "styles/caroussel.css";
@import "styles/code.css";
@import "styles/material-icons.css";

html {
  scroll-behavior: smooth;
  background-color: #1f2937;
}

body {
  font-family: "Roboto", sans-serif;
}

.footer-icon {
  font-size: 15px;
}

.spin-animation {
  animation: spin 1s linear 2; /* Spins 3 times with 0.3s duration each */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.drag-area {
  cursor: grab;
}

.drag-area:active {
  cursor: grabbing;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
