@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700");

html {
  scroll-behavior: smooth;
  background-color: #1f2937;
}
@media (min-width: 768px) {
  html {
    background-color: #ffffff;
  }
}

body {
  font-family: "Roboto";
}

.code-font {
  font-family: "Cutive Mono";
  font-size: 0.7rem;
}

.hljs {
  background-color: transparent !important;
}
pre code.hljs {
  padding: 0em !important;
}

code {
  white-space: pre-wrap;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease-out;
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease-out;
}

.animate-slide-out-left {
  animation: slideOutLeft 0.5s ease-out;
}

.animate-slide-out-right {
  animation: slideOutRight 0.5s ease-out;
}
