@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700");

html {
  scroll-behavior: smooth;
  background-color: #1f2937;
}
@media (min-width: 768px) {
  html {
    background-color: #ffffff;
  }
}

body {
  font-family: "Roboto";
}

code {
  white-space: pre-wrap;
}

.code-font {
  font-family: "Cutive Mono";
  font-size: 0.7rem;
}

.hljs {
  background-color: transparent !important;
}
pre code.hljs {
  padding: 0em !important;
}
